<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Link</title>
</head>
<body>
    <form id="reset-link" method="post">
        {% csrf_token %}
        <label for="email">please insert your registered email:</label>
        <input type="email" name="email" required>
        <button type="submit">send reset password link</button>
    </form>

    {% if success %}
        <p style="color: green;">Send Reset Password Link successfully</p>
    {% endif %}

    {% if error %}
        <p style="color: red;">Cannot Send Reset Password Link</p>
    {% endif %}

    <script>
        document.getElementById('reset-link').addEventListener('submit', function (event) {
            event.preventDefault();

            var form = this;
            var formData = new FormData(form);

            // ارسال درخواست به ویو Django
            fetch('', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.text())
            .then(html => {
                document.body.innerHTML = html;
            });
        });
    </script>
</body>
</html>