<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password Link</title>
</head>
<body>
    <h2>Change password</h2>
    <form method="POST" action="{% url 'accounts:forget-password' %}" id="change-password-form">
        {% csrf_token %}
        <label for="old_password">Old Password:</label>
        <input type="password" name="old_password">
        <br>
        <label for="new_password1">New Password:</label>
        <input type="password" name="new_password1">
        <br>
        <label for="new_password2">Retype New Password:</label>
        <input type="password" name="new_password2">
        <br>
        <button type="submit">Change Password</button>
    </form>

    {% if success %}
        <p style="color: green;">Change Password success</p>
    {% endif %}

    {% if error %}
        <p style="color: red;">Cannot Change Password </p>
    {% endif %}

    <script>
        document.getElementById('change-password-form').addEventListener('submit', function (event) {
            event.preventDefault();

            var form = this;
            var formData = new FormData(form);

            // ارسال درخواست به ویو Django
            fetch('', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.text())
            .then(html => {
                document.body.innerHTML = html;
            });
        });
    </script>
</body>
</html>
