<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Form</title>
</head>
<body>
    <form id="resetpasswordForm" method="post">
        {% csrf_token %}
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <label for="password1">Retype Password:</label>
        <input type="password" name="password1" required>
        <br>
        <button type="submit">Set New Password</button>
    </form>

    {% if success %}
        <p style="color: green;">Reset Password successfully</p>
    {% endif %}

    {% if error %}
        <p style="color: red;">Reset Password Unsuccessfull</p>
    {% endif %}

    <script>
        document.getElementById('resetpasswordForm').addEventListener('submit', function (event) {
            event.preventDefault();

            var form = this;
            var formData = new FormData(form);

            // ارسال درخواست به ویو Django
            fetch('', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.text())
            .then(html => {
                document.body.innerHTML = html;
            });
        });
    </script>
</body>
</html>
